body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
    overflow: hidden; /* Add overflow hidden to prevent content from overflowing */
  }
  
  .left-sidebar {
    width: 17%;
    background-color: #e3e7ee;
    color: rgb(7, 7, 7);
    padding: 20px;
    text-align: justify;
    float: left;
  }
  
  .right-sidebar {
    width: 15%;
    background-color: #e3e7ee;
    color: rgb(21, 20, 20);
    padding: 20px;
    text-align: middle;
    float: right;
  }
  
  .header {
    font-size: 26px;
  }
  
  .description {
    font-size: 16px;
    margin-top: 10px;
    text-align: justify;
  }
  
  .divider {
    margin-top: 20px;
    border-top: 1px solid white;
  }
  
  .features, .advanced-features {
    font-size: 22px;
    margin-top: 20px;
  }
  
  .feature-list {
    margin-top: 10px;
  }
  .slider-label {
    display: flex;
   
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
  }

  .slider-value {
    font-size: 16px;
    margin-top: 5px;
  }
  
 
  
  .slider {
    width: 80%;
    margin-top: 5px;
  }
  
  
  #chatbox {
    width: 62.77%;
  /*  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
    overflow-y: auto; /* Add overflow-y property to enable vertical scrollbar */
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 0;
    height: calc(100vh - 30px); /* Adjust the height as needed, considering other elements' heights */
  }
  
  
  #header {
    background-color: #050505;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 34px;
  }
  
  #chatlogs {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto; /* Add overflow-y property to enable vertical scrollbar */
    flex-grow: 1;
    max-height: calc(100vh - 130px); /* Adjust the height as needed, considering other elements' heights */
  }
  
  
  .user-message {
    align-self: flex-end;
    border: 4px solid #ffa500;
    color: black;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 22px; /* Increase font size for user messages */
    max-width: 50%; /* Set max-width to 50% of the container */
    word-wrap: break-word;
  /*  overflow: hidden;*/
    resize: none;
  }
  
  .bot-message {
    align-self: flex-start;
   
    border: 4px solid #ffa500;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 22px; /* Increase font size for bot messages */
    max-width: 50%; /* Set max-width to 50% of the container */
    word-wrap: break-word;
   /* overflow: hidden;*/
    resize: none;
    
  }
  
  #userInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eee;
  }
  
  #inputMessage {
    flex-grow: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    overflow: hidden;
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
  }
  
  #sendButton {
    padding: 12px;
    background-color:#1d3d72;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }
  